<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Pets of Students</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="flex-container-horizontal">
        <img src="{% static 'images/cats_with_fire.jpg' %}" alt="Picture of Cat with Fire"/>
    </div>
    <h1 class="align-centre">All the cats are:</h1>
    {% if cats %}
        <div class="flex-container-horizontal">
            {% for cat in cats %}
                <div>
                    <img class="square-image" src="{{ MEDIA_URL }}{{ cat.image }}" alt="Picture of {{ cat.name }}">
                    <p class="align-centre">{{ cat.name }}</p>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="align-centre"><strong>There are no cats</strong></p>
    {% endif %}
    <p class="align-centre">Click to go back to <a href="/">Home</a></p>
</body>
</html>
